* {
  margin: 0%;
  padding: 0%;
}

body {
  height: 100vh;
  box-sizing: border-box;
}

div.calculatorFrame {
  height: 600px;
  width: 350px;
  border: 2px solid black;
  border-radius: 25px;
  margin: 2% 34%;
  background-color: darkgray;
}

.screenFrame {
  height: 30%;
  width: 95%;
  padding: 3% 2.5% 0% 2.5%;
  border: 1px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 3% 2.5% 0% 2.5%;
  background-color: ghostwhite;
}

div.screen {
  height: 30%;
  width: 95%;
  margin-top: 40px;
  font-size: xx-large;
  overflow: hidden;
  text-align: right;
  position: relative;
}

div.keyPad {
  height: 65%;
  width: 95%;
  border: 1px solid black;
  margin: 3% 2.5% 1% 2.5%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
}

.keyDesign {
  height: 12%;
  width: 15%;
  border: 1px solid black;
  margin: 5%;
  position: relative;
  background-color: ghostwhite;
}